.header {
  background-color: #ffcf6b;
  min-height: 40%;
  text-align: left;
  padding-top: 100px;
  display: flex;
}

.text {
  margin-left:20%;
  padding: 20px;
  font-size: large;
  flex: 50%;
}

.headline {
  font-size: xx-large;
  font-weight: bold;
}

.row.row-button {
    text-align: center;
  }
  
  .btn-new-project {
    background-color: white;
    //background-color: #ffcf6b;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 40px;
    margin: 20px 0;
  }