<div class="header">

  <div class="text" style="float:left;">
    <div class="headline">
      SonarIssueScoring
    </div>
    A tool for analysing a repository of a software development project.
    What you get is a prioritization of SonarQube issues and a prediction which files in a repository will change.

    To start a new analysis, you have to click on "Create a project". Just enter the Source Path or URL of your software
    development project, your username and the URL of your H2O installation, choose a prediction horizon and give it a
    go.
    Previously created projects will be shown on your dashboard for availability at any time.
    <br><br>
    <button routerLink="/wizard" class="btn-new-project" mat-flat-button>
      Create a project
    </button>
  </div>
  <div class="text" style="float:left;">
    <img src="assets/img/Computer.svg" alt="header" height="75%">
  </div>

</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-1-2">
        <div class="text-content">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="col-2-2">
        <div class="text-content">
          <h2>Lorem Ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>
</div>
