.tab-login {
  width: 320px;
}

.tab-login input {
  margin-left: 10px;
}

.login-container {
  padding: 0 10%;
}

.login-container button {
  margin: 20px 35%;
}

.login-container input {
  border-radius: 4px;
  height: 20px;
  box-shadow: none;
  border: 1px solid grey;
}
