nav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 60px;
  background-color: powderblue;
}

a {
  float: left;
  font-style: bold;
  padding: 14px;
  margin: 5px;
  text-decoration: none;
  color: white;
}

a.title {
  color: black;
}

a.nav-link:hover {
  background-color: aquamarine;
  color: rgb(44, 44, 44);
}

div {
  float: left;
}

button {
  margin-left: 15px;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.title {
  font-size: 24px;
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;
}
