<nav>
  <a class="title" href="/"><b>Sonar</b>IssueScoring</a>
    <!--
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    -->

  <button mat-raised-button routerLink="/dashboard">Dashboard</button>
  <button mat-raised-button routerLink="/">Create a Project</button>
  <button mat-raised-button routerLink="/">My Projects</button>
  <!--<button mat-raised-button routerLink="/">Result Viewer</button>-->
  <button mat-raised-button routerLink="/">Help</button>

  <!--Temporary design and colors and labels-->
</nav>
