<nav>
  <a class="title" routerLink="/"><b>Sonar</b>IssueScoring</a>
    <!--
    <a class="nav-link" routerLink="/dashboard">Dashboard</a>
    -->

  <!--Layout for "float:left"
  <button mat-button routerLink="/dashboard">Dashboard</button>
  <button mat-button routerLink="/">Create a Project</button>
  <button mat-button routerLink="/">My Projects</button>
  <button mat-button routerLink="/">Result Viewer</button>
  <button mat-button routerLink="/">Help</button>
  -->

  <button mat-button routerLink="/">Help</button>
  <button mat-button routerLink="/">Result Viewer</button>
  <button mat-button routerLink="/">My Projects</button>
  <button mat-button routerLink="/">Create a Project</button>
  <button mat-button routerLink="/dashboard">Dashboard</button>

</nav>
