<mat-horizontal-stepper linear>

    <mat-step label="Repository" [completed]="firstStep">
        <div class="tabContent">
        <mat-form-field>
            <input matInput placeholder="Source Path / URL" (keyup)="OnInput($event)" required>
        </mat-form-field>
        <button mat-raised-button style="margin-left: 16px;">Check Connection</button>
        <br><br>
        
        <mat-accordion>
                <mat-expansion-panel disabled hideToggle [expanded]="loginAccordion">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      GitHub-Login
                    </mat-panel-title>
                    <mat-panel-description>
                        {{loginAccordion ? '' : 'You can Login, if you enter the URL'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <app-login-form></app-login-form>
                </mat-expansion-panel>
                
              </mat-accordion>

    </div>
        <button mat-raised-button matStepperNext [disabled]="!firstStep">Next</button>      
    </mat-step>
    
    <mat-step label="Cluster Config" [completed]="secondStep">
      


        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext [disabled]="!secondStep">Next</button>   
    </mat-step>

    <mat-step label="Analysis Config" [completed]="thirdStep">
      
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" style="float:right;">Start Analysis</button>    
    </mat-step>

    
  </mat-horizontal-stepper>


<!--Old version with tabs (will be removed later)
<mat-tab-group mat-stretch-tabs [selectedIndex]="selected.value"
                (selectedChangeIndex)="selected.setValue($event)">
<mat-tab label="Repository Config">
<div class="tabContent">
    <span>Please enter all informations aboute your Repository (Subversion or Git)</span>
    <br><br>
    <mat-form-field>
        <input matInput placeholder="Repository URL" type="text" [(ngModel)] ="repo" (keyup)="OnInput($event)">
    </mat-form-field>
    
    
    <app-login-form style="margin-top: 16px;"></app-login-form>
    <br>
    <button mat-raised-button>Next</button>
</div>


</mat-tab>

<mat-tab label="Cluster Config">


</mat-tab>

<mat-tab label="Analysis Config" disabled=true>


</mat-tab>



</mat-tab-group>
-->