mat-tab-group {
    margin: auto;
    max-width: 1280px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    min-height: 75%;
}

.tabContent {
    padding: 16px;
}



mat-form-field {
    min-width: 100px;
    max-width: 500px;
    width: 100%;
}