.dashboard-component {
  background-color: #ffffff;
  width: 80%;
  height: 100%;
  padding: 0 10%;
}

.row {
  width: 100%;
  display: flex;
}

/*
.col-1-3 {
  width: 33.3%;
  float: left;
}
*/

.col-2-2 {
  width: 70%;
  float: left;
}

.row.row-button {
  text-align: center;
}

.btn-new-project {
  background-color: #ffcf6b;
  border-radius: 50px 50px 50px 50px;
  padding: 10px 40px;
  margin: 20px 40%;
}


/*
.col-1-3{
	flex:33.3%;
  -ms-transform: scale(1); // IE 9
	-webkit-transform: scale(1); // Safari 3-8
	transform: scale(1);
	transition: 0.4s;

}

.col-1-3:hover{
	-ms-transform: scale(1.02); // IE 9
	-webkit-transform: scale(1.02); // Safari 3-8
	transform: scale(1.02);
	transition: 0.4s;
}
*/

app-dashboard-item {
  width: 100%;
  margin-bottom: 50px;
}

