<div class="dashboard-item">
  <div class="card-header"></div>
  <div class="card-content">
    <div class="row">
      <div class="col-1-2">
        <p><b>Name</b></p>
      </div>
      <div class="col-2-2">
        <p>SchiffeVers</p>
      </div>
    </div>
    <div class="row">
      <div class="col-1-2">
        <p><b>Date</b></p>
      </div>
      <div class="col-2-2">
        <p>19.12.2019</p>
      </div>
    </div>
    <div class="row">
      <div class="col-1-2">
        <p><b>Repository</b></p>
      </div>
      <div class="col-2-2">
        <p>Github/SchiffVers</p>
      </div>
    </div>
  </div>
</div>
