<div class="dashboard-component">
  <div class="row">
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
  </div>
  <div class="row">
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
    <div class="col-1-3"><app-dashboard-item></app-dashboard-item></div>
  </div>
</div>
